#coral {
  padding: 0.5rem;
  --palette-primary-100: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-lightest */
  --palette-primary-200: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-lighter */
  --palette-primary-300: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-light */
  --palette-primary-400: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-500: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-600: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-700: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-800: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-dark */
  --palette-primary-900: var(
    --ghost-accent-color
  ); /* Before 6.3.0: --palette-primary-darkest */
  --palette-text-000: var(--color-text-primary);
  --palette-text-100: var(--color-text-primary);
  --palette-text-500: var(--color-text-primary);
  --palette-text-900: var(--color-text-secondary);
  --palette-divider: var(--color-border-primary);
  --palette-background-body: var(--color-background-primary);
  --palette-background-input: var(--color-background-secondary);
  --palette-grey-100: var(--color-background-secondary);
  --palette-grey-200: var(--color-background-secondary);
  --palette-grey-500: var(--color-text-secondary);
}
#coral .coral-comment-username {
  color: var(--palette-primary-900) !important;
}

[data-user-color-scheme="dark"] #post-comment-form {
  background-color: white;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}
