#coral {
  padding: 0.5rem;
  --palette-primary-100: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-lightest */
  --palette-primary-200: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-lighter */
  --palette-primary-300: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-light */
  --palette-primary-400: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-500: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-600: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-700: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-main */
  --palette-primary-800: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-dark */
  --palette-primary-900: rgb(
    93,
    151,
    65
  ); /* Before 6.3.0: --palette-primary-darkest */
  --theme-primary: #b30838;
  --theme-primary-70: #b30838cc;
  --theme-alternate: #f1cb00;
  --theme-alternate-70: #f1cb00cc;
  --theme-primary-contrast: #fafafa;
  --theme-alternate-contrast: #013a81;
}

/**
Blue: (0, 85, 149); Green: (93, 151, 65); Shale: (20, 37, 48)
*/
