#coral {
  --palette-primary-100: #8d3d54; /* Before 6.3.0: --palette-primary-lightest */
  --palette-primary-200: #8d3d54; /* Before 6.3.0: --palette-primary-lighter */
  --palette-primary-300: #8d3d54; /* Before 6.3.0: --palette-primary-light */
  --palette-primary-400: #8d3d54; /* Before 6.3.0: --palette-primary-main */
  --palette-primary-500: #b30838; /* Before 6.3.0: --palette-primary-main */
  --palette-primary-600: #b30838; /* Before 6.3.0: --palette-primary-main */
  --palette-primary-700: #b30838; /* Before 6.3.0: --palette-primary-main */
  --palette-primary-800: #b30838; /* Before 6.3.0: --palette-primary-dark */
  --palette-primary-900: #ff084e; /* Before 6.3.0: --palette-primary-darkest */
  --theme-primary: #b30838;
  --theme-primary-70: #b30838cc;
  --theme-alternate: #f1cb00;
  --theme-alternate-70: #f1cb00cc;
  --theme-primary-contrast: #fafafa;
  --theme-alternate-contrast: #013a81;
}

@media (prefers-color-scheme: dark) {
  #coral {
    color: white !important;

    --palette-background-body: inherit;
    --palette-background-input: #3d3a3a;
    --palette-divider: rgba(255, 255, 255, 0.12);
    --palette-text-000: inherit;
    --palette-text-100: #e0e0e0;
    --palette-text-500: #e0e0e0;
    --palette-text-900: #fafafa;

    --palette-grey-100: #262729;
    --palette-grey-200: #313233;
    --palette-grey-300: #505152;
    --palette-grey-400: #8a8a8b;
    --palette-grey-500: #aeaeaf;
  }
  #coral .coral-comment-username {
    color: var(--palette-primary-900) !important;
  }
}
